.card{
    border: 1px solid rgb(150, 150, 150);
    width: 380px;
    height: 200px;
    padding: 5px 20px;
    margin: 20px auto;
    background-color: rgba(173, 173, 173, 0.336);
    border-radius: 5px;
}

.cardHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

